<template>
        <div id="errorMsg" innerhtml.bind="loginError"></div>
        <label for="email">Email</label>
        <input value.bind="email" type="email" autofocus class="form-control" id="email" placeholder="Email"></input>
        <label for="password">Password</label>
        <input value.bind="password" type="password" class="form-control" id="password" placeholder="Password"></input>
        <button click.trigger="login()">Login</button>
        <button click.trigger="showRegister()">Register</button> 
 </template>
    